<!DOCTYPE html>
<html>
  <head>
    <title>Przetargi</title>
    <%- include('./common/head-common') %>
  </head>
  <body>
    <%- include('./pages/home') %>
    <%- include('./common/body-common') %>
  </body>
</html>
