
<nav>
    <a href="/">Strona główna</a>
    <a href="/bids-list">Lista przetargów</a>
    <a href="/finished-bids-list">Lista zakończonych przetargów</a>
    <a href="/new-bid">Dodaj przetarg</a>
</nav>