<nav class="navbar navbar-expand-lg blue-bg">
    <div class="px-3 navbar-nav container-fluid d-flex justify-content-between">
        <a id="nav-home" class="black-text nav-link" href="/">Strona główna</a>
        <a id="nav-tenders" class="black-text nav-link" href="/tenders-list">Lista przetargów</a>
        <a id="nav-finished-tenders" class="black-text nav-link" href="/finished-tenders-list">Lista zakończonych
            przetargów</a>
        <a id="nav-new-tender" class="black-text nav-link" href="/new-tender">Dodaj przetarg</a>
    </div>
</nav>