
<nav class="navbar navbar-expand-lg blue-bg">
    <div class="px-3 navbar-nav container-fluid d-flex justify-content-between">
        <a class="black-text nav-link" href="/">Strona główna</a>
        <a class="black-text nav-link" href="/tenders-list">Lista przetargów</a>
        <a class="black-text nav-link" href="/finished-tenders-list">Lista zakończonych przetargów</a>
        <a class="black-text nav-link" href="/new-tender">Dodaj przetarg</a>
    </div>
</nav>