
<%- include('../common/navbar') %>
<div class="home-content">
    <h1 class="m-3 py-3">Przetargi Online</h1>
    <div class="m-3 px-4 py-5 yellow-border-container">
        <p>Przetargi Online to nowoczesna platforma, która umożliwia instytucjom i firmom ogłaszanie przetargów oraz udział w nich w prosty i przejrzysty sposób. Niezależnie od tego, czy jesteś organizatorem, czy oferentem – u nas szybko znajdziesz interesujące oferty i skutecznie złożysz swoją propozycję. Transparentność, łatwość obsługi i szeroki dostęp do różnorodnych postępowań to nasz priorytet. Dołącz już dziś i bierz udział w przetargach bez zbędnych formalności!</p>
    </div>
</div>