
<!DOCTYPE html>
<html>
    <head>
        <title>Przetargi</title>
        <%- include('../common/head-common') %>
    </head>
    <body>
    <%- include('../common/navbar') %>
    <div class="main-content">
        <h1>Dodanie przetargu</h1>
        <div class="yellow-border-container">
            <form action="/" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Nazwa przedmiotu przetargu</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="mb-3">
                    <label for="company" class="form-label">Instytucja zamawiająca</label>
                    <input type="text" class="form-control" id="company">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Opis przedmiotu przetargu</label>
                    <input type="text" class="form-control" id="description">
                </div>
                <div class="mb-3">
                    <label for="tender-start-time" class="form-label">Data i godzina rozpoczęcia przetargu</label>
                    <input type="datetime-local" class="form-control" id="tender-start-time">
                </div>
                <div class="mb-3">
                    <label for="tender-finish-time" class="form-label">Data i godzina zakończenia przetargu</label>
                    <input type="datetime-local" class="form-control" id="tender-finish-time">
                </div>
                <div class="mb-3">
                    <label for="max_budget" class="form-label">Maksymalny budżet</label>
                    <input type="number" class="form-control" id="max_budget">
                </div>
<!--                TODO: kolejne pola formularza + style odwzorować-->

                <div class="centered-text">
                    <button type="submit" class="btn submit-button">Opublikuj przetarg</button>
                </div>

            </form>
        </div>

    </div>
    <%- include('../common/body-common') %>
    </body>
</html>